services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ./backend
    ports:
      - "4000:4000"
    environment:
      NODE_ENV: development
      PORT: 4000
      MONGO_URI: mongodb://mongo:27017/taskmaster
      JWT_ACCESS_SECRET: change_me_access_secret_12345
      JWT_REFRESH_SECRET: change_me_refresh_secret_12345
      ACCESS_TOKEN_TTL: 15m
      REFRESH_TOKEN_TTL: 7d
      CORS_ORIGIN: http://localhost:5173
    depends_on:
      - mongo

volumes:
  mongo_data:
